 @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

 body {
   background-color: rgb(8, 15, 44);
   color: white;
   padding: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Silkscreen', cursive;
 }

 main {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 3rem;
 }

 main>:nth-child(1) {
   width: 30%;
 }

 main>:nth-child(2) {
   width: 70%;
 }

 .buttons {
   display: flex;
   flex-direction: column;
 }

 button {
   border: none;
   background: blueviolet;
   color: white;
   border-radius: 4px;
   padding: .25rem;
   text-transform: uppercase;
   transition: box-shadow .3s ease;
 }

 button:focus {
   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
   background: rgb(158, 64, 246);
 }

 h1 {
   margin-bottom: 2rem;
   font-size: 2.5rem;
 }

 .buttons>* {
   margin-bottom: 1rem;
 }

 #drawingGrid {
   width: 100%;
   display: grid;
   aspect-ratio: 1/1;
   background-color: rgb(72, 68, 98);
   border-radius: 10px;
   padding: 1.5rem;
 }

 #drawingGrid div {
   border: solid .25px rgba(0, 0, 0, 0.1);
   transition: background .3s ease-in-out;
 }